.header__notification-item-icon svg path {
    fill: #8c52d6;
}
.header__notification-item-icon--yellow svg path {
    fill: #f7b23b;
}
.header__notification-item-icon--green svg path {
    fill: #acd59a;
}
